.full-body-program-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: gray;
    padding: 40px;
    align-items: flex-start;
    padding-top: 50px;
}


.sidebar {
    width: 250px;
    background-color: #f39c12;
    color: white;
    padding: 20px;
    padding-top: 10px;
    border-radius: 10px;
    margin-right: 20px;
    position: sticky;
    top: 50px;
}

.sidebar h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: bold;
}


.full-body-program-container {
    flex: 1;
    background-color: dimgray;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.full-body-program-container h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.day-selector {
    margin-bottom: 30px;
}


.exercise-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.exercise-row {
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.exercise-row label {
    margin-bottom: 10px;
}


.sets-reps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.sets-reps input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 70px;
}


.btn-save {
    background-color: #6a5acd;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 100%;
}

.btn-save:hover {
    background-color: #483d8b;
}
