.ppl-page-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #2c2c2c;
    color: #ffffff;
    padding: 40px;
    overflow: hidden;
    margin-top: 130px;
}

.workout-tips {
    width: 250px;
    background-color: #ffa500;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
}

.ppl-program-content {
    flex: 1;
    max-width: 800px;
    background-color: #3a3a3a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.exercise-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.exercise-row {
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.sets-reps {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.btn-save {
    background-color: #6a5acd;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 20px;
}

    .btn-save:hover {
        background-color: #483d8b;
        transform: scale(1.05);
    }
